[submodule "lib/chibios"]
	path = lib/chibios
	url = https://gitee.com/oren/ChibiOS.git
	branch = master
[submodule "lib/chibios-contrib"]
	path = lib/chibios-contrib
	url = https://gitee.com/oren/ChibiOS-Contrib.git
	branch = master
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://gitee.com/oren/uGFX.git
	branch = master
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://gitee.com/oren/googletest.git
[submodule "lib/lufa"]
	path = lib/lufa
	url = https://gitee.com/oren/lufa.git
[submodule "lib/vusb"]
	path = lib/vusb
	url = https://gitee.com/oren/v-usb.git
[submodule "lib/printf"]
	path = lib/printf
	url = https://gitee.com/oren/printf.git
